/*-----------------------------------------------*/
/*--- - - - Оформление блоков с курсами - - - ---*/
/*-----------------------------------------------*/
.course_list_block,
.course_all_list_block{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin: 0 auto;
    font-size: 1rem;
}
@media screen and (max-width: 1200px){
    .course_list_block,
    .course_all_list_block{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .course_list_block{
        grid-template-columns: 1fr;
    }
    .course_all_list_block{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 500px) {
    .course_all_list_block{
        grid-template-columns: 1fr;
    }
}

/*--- - - - Стили карточки курса - - - ---*/
.course_list_item{
    position: relative;
    border: 1px solid var(--color-help-element-light);
}

.course_list_item img{
    width: 100%;
}
.course_list_item ul{
    list-style: none;
}
.course_list_item li{
    margin-bottom: 5px;
}
.course_list_item li::before{
    font-family: Icon;
    content: '\f105';
    margin-right: 10px;
    margin-bottom: 5px;
    color: var(--color-comp-pink);
}
.course_list_item_content a:not([class*='button']),
.course_list_item_more a{
    font-weight: bold;
    text-decoration: none;
    color: initial;
}
.course_list_item_content a:not([class*='button']):hover,
.course_list_item_more a:hover{
    text-decoration: underline;
    color: var(--color-comp-pink);
}

.course_list_item_head{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    text-decoration: none;
    color: initial;
}
.course_list_item_head .title{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.course_list_item_head .title h3{
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-text-accent);
    text-align: center;
}
.course_list_item_head .content{
    padding: 0 15px 15px 15px;
    text-align: center;
}

.course_list_item_more{
    display: none;
    padding-top: 15px;
    text-align: center;
}
.course_list_item_more a::after{
    font-family: Icon;
    content: '\f107';
    padding: 0 10px;
}
@media handheld and (max-width: 768px){
    .course_list_item_more{
        display: block;
    }
}

.course_list_item_content{
    display: none;
    padding: 15px;
    border: inherit;
    border-top: none;
    z-index: 2;
}
@media screen and (min-width: 768px){
    .course_list_item:hover .course_list_item_content{
        display: block;
        position: absolute;
        left: -1px;
        right: -1px;
        margin-top: -15px;
        background-color: #fff;
    }
}

.course_list_item_link{
    padding-top: 15px;
    text-align: center;
}

.contact_block{
    width: 90%;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    color: var(--color-text-accent);
    border-top: 1px solid var(--color-help-element-light);
}
.contact_block p{
    padding-bottom: 5px;
}
.contact_block .tel{
    font-size: 1.5em;
}

.contact_form{
    text-align: centers;
}
.contact_form form{
    margin-top: 15px;
}
.contact_form form input{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.course_content_image img{
    padding-right: 30px;
    width: 100%;
}


/*----------------------------------------------------*/
/*--- - - - Оформление информационных блоков - - - ---*/
/*----------------------------------------------------*/
.info_block{
    padding: 30px;
    font-size: 1rem;
    box-sizing: border-box;
}
.info_block .title{
    font-size: 1.2em;
}
.info_block .sub_title{
    font-weight: bold;
}
.info_block .content{
    margin-top: 15px;
}
.info_block .accent{
    font-size: 1.2em;
}
.info_block .content p:not(:last-child){
    margin-bottom: 5px;
}

.info_block_style_1,
.info_block_style_2,
.info_block_style_3,
.info_block_style_4{
    border: 1px solid var(--color-help-element-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info_block_style_2{
    text-align: center;
}

.info_block_style_3,
.info_block_style_4{
    text-align: center;
}
.info_block_style_3 .title,
.info_block_style_4 .title{
    font-size: 1.5em;
}
.info_block_style_3 .sub_title{
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-help-element-light);
}
.info_block_style_4 .content{
    padding-top: 15px;
    border-top: 1px solid var(--color-help-element-light);
}
.info_block_style_4 .accent{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-comp-pink);
}
/*--- - - - Блок с преимуществами - - - ---*/
.benefits_list_block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.benefits_list_item{
    position: relative;
    margin-top: 30px;
}
.benefits_list_item figure{
    position: absolute;
    top: -25px;
    width: calc(100% - 60px);
    height: 50px;
    margin: 0 auto;
}
.benefits_list_item img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.benefits_list_item .content{
    color: var(--color-text-help-1);
}

/*--- - - - Блок с командой - - - ---*/
.team_list_item{
    width: 48%;
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-bottom: 30px;
}
.team_list_item figure{
    width: 150px;
    flex-grow: 0;
    margin-right: 15px;
}
.team_list_item figure img{
    width: 100%;
}

/*--- - - - Блок с вакансиями - - - ---*/
.vacancy_list_block > div{
    width: 31%;
    margin:0 auto 30px auto;
}

/*--- - - - Блок с отзывами - - - ---*/
.reviews_list_block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.reviews_list_item_hwo{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.reviews_list_item_hwo figure{
    width: 55px;
    flex-grow: 0;
    margin-right: 15px; 
}
.reviews_list_item_hwo figure image{
    width: 100%;
}
@media screen and (max-width: 768px) {
    .benefits_list_block,
    .reviews_list_block{
        grid-template-columns: 1fr;
    }

    .team_list_item{
        width: 100%;
    }

    .vacancy_list_block > div{
        width: 48%;
    }
}

@media screen and (max-width: 500px) {
    .vacancy_list_block > div{
        width: 100%;
    }
}